h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#newBookForm {
  align-items: center;
}
#bookTitleToAdd {
  position: relative;
  left: 40px;
}
#bookWriterToAdd {
  position: relative;
  left: 67px;
}
#bookReadDate {
  position: relative;
  left: 27px;
  width: 154px;
}
#newBookForm button {
  margin-top: 20px;
  position: relative;
  left: 125px;
}
#newCommentForm {
  margin: 0px;
}
#detailComments button {
  padding: 7px;
  margin-right: 10px;
}
#deleteAllBooks {
  position: relative;
  left: 135px;
  padding: 7px;
}
#sampleui {
  border: 2px solid darkgreen;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  justify-items: center;
}

#userstories {
  align-items: center;
  font-family: monospace;
  margin: 50px;
  margin-top: 20px;
}

#userstories h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listWrapper {
  list-style: none;
}

button {
  border: none;
  border-radius: 12px;
}
.btn {
  padding: 0px;
}

#booktitle {
  font-weight: bold;
  margin-bottom: 0px;
}

/* sampleAPI page */

#sampleposting {
  margin: 40px;
  max-width: 700px;
}

h4 {
  border-bottom: 1px solid green;
  padding: 7px;
  max-width: 300px;
}
